<main>
  <section id='qygk' class="well2_3 bg-primary">
      <div class="container">
          <div class="row">
              <div class="col-sm-4">
                  <h2>关于中濠</h2>
                  <div class="thumbnail wow fadeIn" data-wow-duration="2s" data-wow-delay="0.3s">
                      <img src="{{ vars.image_directory }}page-2_img01.jpg" alt=""/>
                      <div class="caption">
                          <p>本集团始创于1953年，为原中央财委下属中央部属国有企业，名称为 “中央建筑工程部机械局工程公司”；</p>
                          <p>1979年7月根据国家建工总局（79）建工基字第122号文整建制进驻深圳，名称为“中国建筑工程公司深圳经理处”；</p>
                          <p>1993年8月在广东省及深圳市两级政府的直接领导和批准下，本集团完成国有企业重组改制，并最后更名为“深圳市中邦（集团）建设总承包有限公司”。</p>
                      </div>
                  </div>
              </div>

              <div class="col-sm-4">
                  <h2>集团足迹</h2>
                  <ul class="list list-1">
                      <li>
                          <time class="time time__mod" datetime="2015-03-10">1953年</time>
                          <h5>集团始创</h5>
                          <p>本集团始创于1953年，为原中央财委下属中央部属国有企业，名称为 “中央建筑工程部机械局工程公司”。</p>
                      </li>
                      <li>
                          <time class="time time__mod" datetime="2015-03-10">1979年</time>
                          <h5>整建制进驻深圳</h5>
                          <p>1979年7月根据国家建工总局（79）建工基字第122号文整建制进驻深圳，名称为“中国建筑工程公司深圳经理处”。</p>
                      </li>
                      <li>
                          <time class="time time__mod" datetime="2015-03-10">1993年</time>
                          <h5>国有企业重组改制</h5>
                          <p>1993年8月在广东省及深圳市两级政府的直接领导和批准下，本集团完成国有企业重组改制，并最后更名为“深圳市中邦（集团）建设总承包有限公司”。</p>
                      </li>

                  </ul>
              </div>

              <div class="col-sm-4 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.3s">
                  <h2>主要业务范围</h2>
                  <p>房地产综合开发、投融资、担保、造价咨询、招标代理、物业评估、工程监理、新型铝模及轻质墙板生产、建设领域高新技术研发及转化等。</p>
                  <ul class="marked-list">
                      <li><a href="#">建筑总承包（工业与民用建筑、构筑物等）；</a></li>
                      <li><a href="#">市政公用总承包（道路、立交桥、隧道、广场等）；</a></li>
                      <li><a href="#">公路总承包（公路、桥梁、隧道等）；</a></li>
                      <li><a href="#">水利水电总承包（大坝、水电站、隧洞、堤防等）；</a></li>
                      <li><a href="#">港口与航道总承包；</a></li>
                      <li><a href="#">机电总承包；</a></li>
                      <li><a href="#">地基基础专业承包；</a></li>
                      <li><a href="#">土石方专业承包；</a></li>
                      <li><a href="#">装修装饰专业承包；</a></li>
                      <li><a href="#">玻璃幕墙专业承包；</a></li>
                      <li><a href="#">公路路基专业承包；</a></li>
                      <li><a href="#">桥梁专业承包；</a></li>
                      <li><a href="#">钢结构专业承包等。</a></li>
                  </ul>

              </div>

          </div>

      </div>

  </section>

  <section id='zbzs' class="well2 bg-secondary center767">
      <div class="container">
          <h2 class="fw-xb ins767">总部展示</h2>

          <div class="row offset marTop3">
              <div class="col-sm-3 col-xs-6 center767 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.6s">
                  <div class="thumbnail">
                      <img src="{{ vars.image_directory }}page-2_img02.jpg" alt=""/>
                      <div class="caption">
                          <h5>集团厂房</h5>
                          <p class="p__mod">级政府的直接领导和批准下，本集团完成国有企业重组改制</p>
                      </div>
                  </div>
              </div>

              <div class="col-sm-3 col-xs-6 center767 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.4s">
                <div class="thumbnail">
                    <img src="{{ vars.image_directory }}page-2_img02.jpg" alt=""/>
                    <div class="caption">
                        <h5>集团厂房</h5>
                        <p class="p__mod">级政府的直接领导和批准下，本集团完成国有企业重组改制</p>
                    </div>
                </div>
              </div>

              <div class="col-sm-3 col-xs-6 center767 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
                <div class="thumbnail">
                    <img src="{{ vars.image_directory }}page-2_img02.jpg" alt=""/>
                    <div class="caption">
                        <h5>集团厂房</h5>
                        <p class="p__mod">级政府的直接领导和批准下，本集团完成国有企业重组改制</p>
                    </div>
                </div>
              </div>

              <div class="col-sm-3 col-xs-6 center767 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.1s">
                <div class="thumbnail">
                    <img src="{{ vars.image_directory }}page-2_img02.jpg" alt=""/>
                    <div class="caption">
                        <h5>集团厂房</h5>
                        <p class="p__mod">级政府的直接领导和批准下，本集团完成国有企业重组改制</p>
                    </div>
                </div>
              </div>
          </div>

      </div>
  </section>

  <section id='gszz' class="well5 bg-primary">
      <div class="container">
          <div class="row">
              <div class="col-sm-4 col-xs-12">
                  <h2 class="ttu center767">企业承包工程范围</h2>
                  <ul class="row index-list">
                      <li>
                          <h5>建筑总承包壹级</h5>
                          <p>
                            1)高度200米以下的工业及民用建筑工程（约七十层高建筑）；
                            <br>
                            2)高度240米以下的构筑物工程（约八十层高建筑）。
                          </p>
                      </li>
                      <li>
                          <h5>市政公用总承包壹级</h5>
                          <p>
                            1)各类规模的城市道路工程，各类跨度的桥梁工程，各类断面及长度的隧道工程，各类规模的公共广场工程；
                            <br>
                            2)各类规模的给水厂、污水处理工程，各类规模的给水、污水、雨水泵站，各类给排水管道工程；
                          </p>
                      </li>
                      <li>
                          <h5>地基基础专业承包壹级</h5>
                          <p>
                            1)各种类型及荷载的地基基础工程；
                            <br>
                            2)各种深度的软基处理工程；
                          </p>
                      </li>
                  </ul>
              </div>

              <div class="col-sm-4 col-xs-12">
                  <h2>中邦集团资质</h2>
                  <p>集团为政府认定的国家级高新技术企业、深圳市政府诚信评价信用状况优秀企业（绿色类、A等级）、业务办理纳入政府绿色通道、深圳市政府重点民营企业。 </p>
                  <ul class="marked-list">
                    <li><a href="#">1、房屋建筑工程施工总承包壹级</a></li>
                    <li><a href="#">2、市政公用工程施工总承包壹级</a></li>
                    <li><a href="#">3、建筑装修装饰工程专业承包壹级</a></li>
                    <li><a href="#">4、地基与基础工程专业承包壹级</a></li>
                    <li><a href="#">5、土石方工程专业承包壹级</a></li>
                    <li><a href="#">6、公路工程施工总承包贰级</a></li>
                    <li><a href="#">7、水利水电工程施工总承包贰级</a></li>
                    <li><a href="#">8、港口与航道工程施工总承包贰级</a></li>
                    <li><a href="#">9、机电安装工程施工总承包贰级</a></li>
                    <li><a href="#">10、公路路基工程专业承包贰级</a></li>
                    <li><a href="#">11、钢结构工程专业承包贰级</a></li>
                  </ul>

              </div>

              <div class="col-sm-4 col-xs-12">
                  <h2>客户评价</h2>
                  <blockquote  class="blockquote2 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
                      <q>模板作业分包壹级；脚手架作业分包壹级；木工作业分包壹级；砌筑作业分包壹级；钢筋作业分包壹级；焊接作业分包壹级；抹灰、油漆、混凝土和水暖电安装等作业分包资质。</q>
                      <cite>- 深圳市政府</cite>
                  </blockquote>

                  <blockquote class="blockquote2 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.5s">
                    <q>模板作业分包壹级；脚手架作业分包壹级；木工作业分包壹级；砌筑作业分包壹级；钢筋作业分包壹级；焊接作业分包壹级；抹灰、油漆、混凝土和水暖电安装等作业分包资质。</q>
                    <cite>- 深圳市政府</cite>
                  </blockquote>

                  <blockquote class="blockquote2 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.5s">
                    <q>模板作业分包壹级；脚手架作业分包壹级；木工作业分包壹级；砌筑作业分包壹级；钢筋作业分包壹级；焊接作业分包壹级；抹灰、油漆、混凝土和水暖电安装等作业分包资质。</q>
                    <cite>- 深圳市政府</cite>
                  </blockquote>

              </div>

          </div>
      </div>
  </section>
</main>
