<main>
  <section id='qygk' class="well2_3 bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <h2>集团简介</h2>
          <div class="thumbnail wow fadeIn" data-wow-duration="2s" data-wow-delay="0.3s">
            <img src="{{ vars.image_directory }}qr_code.png" style='max-width: 100px;' />
            <div class="caption">
              <p>深圳市中濠建工集团有限公司（简称“中濠建工集团”）成立于2011年，具有国家建设部核定的建建筑工程施工总承包壹级资质，长期以来，中濠建工集团始终秉持“ 专业铸就品质,品质成就未来”的服务理念和企业精神，总部位于深圳市宝安区西乡街道西乡大道228号中濠大厦9-11楼。公司经过不断努力发展与创新，目前公司拥有员工总数近200人，各类专业技术管理人员110多人。其中高级职称人员18人，中级职称人员52人；</p>
              <p>中濠建工集团历来坚持“与领先者同行”的业务发展战略，连续多年成为万科地产的金牌战略合作伙伴，与知名上市企业地产商万科地产、龙光地产、碧桂园地产、广州时代地产等等知名房地产开发企业建立了战略合作或深度合作伙伴关系，成功案例包括但不限开盘区、会所、写字楼、别墅、销售展厅、销售样板、园林、商业及批量精装修等项目。目前公司在建项目已达  个以上，总开工面积约  万㎡。其中以广东佛山万科水晶城七期项目和福建莆田万科城项目为代表工程。</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <h2>&nbsp;</h2>
          <div class="thumbnail wow fadeIn" data-wow-duration="2s" data-wow-delay="0.3s">
            <div class="caption">
              <p>立足深圳，布局全国，根据公司经营战略，中濠建工集团项目遍及广州、佛山、深圳、东莞、惠州、厦门、福州、南昌、南宁、长沙等全国二十多个主要城市。</p>
              <p>在新一轮行业格局深度调整的大背景下，中濠建工集团扎根主业、力求创新，以房屋建筑、房地产、投资、基础设施四个业务板块协同发展，通过投资建造一体化、设计施工一体化、国内国外一体化，在超高层、超大体量厂房或综合体、超大住宅或民生工程、复杂结构及特种、非常规工程建设领域具有绝对领先优势。</p>
              <p>中濠建工集团实行“专业化、职业化、国际化”的人才建设策略，致力于打造竞争、开放、科学、包容的人力资源管理平台，吸纳集聚行业英才，建立了覆盖全员的培训和职业生涯规划体系，关注员工的专业能力、职业素养、国际化视野与思维培养及企业先锋文化的传承，将公开、竞争、择优体现在招聘、培养、使用、激励等各个环节。拥有20余所国内重点高校建立良好的联系和合作关系，完善产学研战略联盟。</p>
              <p>中濠建工集团，始终打造百分百优良工程！全体中濠建工集团人将牢牢抓出行业发展的历史机遇，践行品质文化、客户文化、关怀文化和责任文化，持续为客户、员工、社会创造价值！</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 wow fadeIn" data-wow-duration="2s" data-wow-delay="0.3s">
          <h2>主要业务范围</h2>
          <p></p>
          <ul class="marked-list">
            <li><a href="#">建筑工程施工总承包壹级（工业与民用建筑、构建物等）</a></li>
            <li><a href="#">市政公用工程施工总承包贰级（道路、立交桥、隧道、广场等）</a></li>
            <li><a href="#">机电工程施工总承包贰级</a></li>
            <li><a href="#">电子与智能化工程专业承包贰级</a></li>
            <li><a href="#">消防设施工程专业承包贰级</a></li>
            <li><a href="#">防水防腐保湿工程专业承包贰级</a></li>
            <li><a href="#">建筑装修装饰工程专业一包贰级资质</a></li>
            <li><a href="#">幕墙工程一级专业承包</a></li>
            <li><a href="#">地基基础工程三级专业承包</a></li>
            <li><a href="#">水利水电工程三级专业承包</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section id='zbzs' class="well2 bg-secondary center767">
    <div class="container">
      <h2 class="fw-xb ins767">总部展示</h2>
      <div class="row offset marTop3">
        <div class="col-sm-3 col-xs-6 center767 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.6s">
          <div class="thumbnail">
            <img src="{{ vars.image_directory }}zongbu_1.png" alt=""/>
            <div class="caption">
              <h5>总部大楼 中濠大厦外立面</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6 center767 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.4s">
          <div class="thumbnail">
            <img src="{{ vars.image_directory }}zongbu_2.png" alt=""/>
            <div class="caption">
              <h5>前台区域</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6 center767 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
          <div class="thumbnail">
            <img src="{{ vars.image_directory }}zongbu_3.png" alt=""/>
            <div class="caption">
              <h5>会客厅</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-6 center767 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.1s">
          <div class="thumbnail">
            <img src="{{ vars.image_directory }}zongbu_4.png" alt=""/>
            <div class="caption">
              <h5>办公室一角</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-sm-3 col-xs-6 center767 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.6s">
            <div class="thumbnail">
              <img src="{{ vars.image_directory }}zongbu_5.png" alt=""/>
              <div class="caption">
                <h5>经理级办公室</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6 center767 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.4s">
            <div class="thumbnail">
              <img src="{{ vars.image_directory }}zongbu_6.png" alt=""/>
              <div class="caption">
                <h5>会议室</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6 center767 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s">
            <div class="thumbnail">
              <img src="{{ vars.image_directory }}zongbu_7.png" alt=""/>
              <div class="caption">
                <h5>会议室 2</h5>
              </div>
            </div>
          </div>
          <div class="col-sm-3 col-xs-6 center767 wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.1s">
            <div class="thumbnail">
              <img src="{{ vars.image_directory }}zongbu_8.png" alt=""/>
              <div class="caption">
                <h5>财务室</h5>
              </div>
            </div>
          </div>
      </div>
    </div>
  </section>
  <section id='gszz' class="well5 bg-primary">
    <div class="container">
      <div class="row index-list">
        <div class="col-sm-4 col-xs-12">
          <h2 class="ttu center767">企业承包工程范围</h2>
          <ul class="row">
            <li>
              <h5>建筑工程施工总承包壹级</h5>
              <p>
                1) 高度200米以下的工业及民用建筑工程（约七十层高建筑）
                <br>
                2) 高度240米以下的构筑物工程（约八十层高建筑）
              </p>
            </li>
            <li>
              <h5>市政公用工程施工总承包贰级</h5>
              <p>
                1) 城市道路、桥梁、隧道、公共广场工程;
                <br>
                2) 城市供水工程、排水工程或污水处理工程;
                <br>
                3) 城市燃气工程或热力工程;
                <br>
                4) 城市生活垃圾处理工程。
              </p>
            </li>
            <li>
              <h5>机电安装工程施工总承包贰级</h5>
              <p>
                1)承担投资额3000万元及以下的一般工业、公用工程和公共建筑的机电安装工程的施工。 注:一般工业机电安装工程是指未列入港口与航道、水利水电、电力、矿山、冶炼、化工石油、通信工程的机械、电子、轻工、纺织及其他工业机电安装工程。
              </p>
            </li>
            <li>
              <h5>电子与智能化工程专业承包贰级</h5>
              <p>
                1) 可承担单项合同额2500万元以下的电子工业制造设备安装工程和电子工业环境工程、单项合同额1500万元以下的电子系统工程和建筑智能化工程施工。
              </p>
            </li>
          </ul>
        </div>

        <div class="col-sm-4 col-xs-12">
          <h2>&nbsp;</h2>
          <ul class="row">
            <li>
              <h5>消防设施工程专业承包贰级</h5>
              <p>
                1) 可承担建筑高度100米及以下、建筑面积5万平方米及以下的房屋建筑、易燃、可燃液体和可燃气体生产、储存装置等消防设施工程的施工。
              </p>
            </li>
            <li>
              <h5>防水防腐保湿工程专业承包贰级</h5>
              <p>
                1) 可承担单项合同额不超过企业注册资本金5倍的各类防腐保温工程的施工。
              </p>
            </li>
            <li>
              <h5>建筑装修装饰工程专业承包一级资质</h5>
              <p>
                1) 可承担单位工程造价1200万元及以下建筑室内、室外装修装饰工程（建筑幕墙工程除外）的施工。
              </p>
            </li>
            <li>
              <h5>建筑幕墙工程一级专业承包</h5>
              <p>
                1) 承担单项合同额不超过企业注册资本金5倍且单项工程面积在8000m2及以下、高度80m及以下的建筑幕墙工程的施工。
              </p>
            </li>
          </ul>
        </div>
        <div class="col-sm-4 col-xs-12">
          <h2>客户评价</h2>
          <blockquote  class="blockquote2 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.3s">
            <q>荣获2011年度《深圳万科最佳交付质量》。荣获万科集团评估优质工程奖励。</q>
            <cite>- 万科地产</cite>
          </blockquote>
          <blockquote class="blockquote2 wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.5s">
            <q>荣获2013年度《优秀合作伙伴》</q>
            <cite>- 龙光地产</cite>
          </blockquote>
        </div>
      </div>
    </div>
  </section>
</main>
