<main>
  <section class="well2_2 bg-primary">
      <div class="container">
        <h2>集团下属公司</h2>
        {% for row in vars.affiliates %}
          <div class="row offset3 marTop3">
            {% for aff in row %}
              <div class="term-list col-sm-6 marTop6">
                  <dl>
                    <dt>{{ aff.title }}</dt>
                    <dd>
                      {% if aff.address != '' %}
                        <p>公司地址：{{ aff.address }}</p>
                      {% endif %}
                      {% if aff.fax != '' %}
                        <p>传真：{{ aff.fax }}</p>
                      {% endif %}
                      {% if aff.contact != '' %}
                        <p>联系人：{{ aff.contact }}</p>
                      {% endif %}
                      {% if aff.telephone != '' %}
                        <p>联系电话：{{ aff.telephone }}</p>
                      {% endif %}
                      {% if aff.postal_code != '' %}
                        <p>邮政编码：{{ aff.postal_code }}</p>
                      {% endif %}
                      {% if aff.business != '' %}
                        <p>业务范围：{{ aff.business }}</p>
                      {% endif %}
                    </dd>
                  </dl>
              </div>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
  </section>
</main>
