<main>
  <section class="well4_2 bg-primary">
    <div class="container">
      <h2 class="center767">新闻资讯</h2>
      <div class="row">
        {% for article in vars.news %}
          <div class='col-sm-6'>
            <div class="col-sm-6 col-xs-12 marTop4">
              <div class="thumbnail wow fadeIn" data-wow-duration="2s" data-wow-delay="0.3s">
                <img src="{{ article.image }}"/>
              </div>
            </div>
            <div class="col-sm-6 col-xs-12 mg-add2">
                <h5 class="h5__mod">{{ article.title }}</h5>
                <p>
                  {{ article.summary }} <a href="{{ article.link }}" class="fa-caret-right icon1"></a>
                </p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
  <section class="well7 bg-secondary">
    <div class="container">
      <h2 class="center767">公司活动</h2>
      <div class="row marTop3">
        {% for article in vars.activities %}
          <div class="col-sm-3 col-xs-12">
            <div class="thumbnail">
              <img src="{{ article.image }}">
              <h5>{{ article.title }}</h5>
              <p>{{ article.summary }}</p>
              <a href="{{ article.link }}" class="btn btn-primary btn-red-bg"><span>阅读文章</span></a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
</main>
