<div class="camera_container">
    <div id="camera" class="camera_wrap">
        <div data-src="{{ vars.image_directory }}slide01.jpg"></div>
        <div data-src="{{ vars.image_directory }}slide02.jpg"></div>
        <div data-src="{{ vars.image_directory }}slide03.jpg"></div>
    </div>
</div>
<main>
  <section class="well2 bg-secondary">
          <div class="container">
              <div class="row">
                  <ul class="list index-list">
                      <li class="col-lg-4 col-sm-6 col-xs-12 wow fadeInRight" data-wow-duration="2s">
                          <h5>公司价值观</h5>
                          <p>只有赢得社会尊重和信任的企业，才能在未来拥有更广阔的发展空间。</p>
                      </li>
                      <li class="col-lg-4 col-sm-6 col-xs-12 wow fadeInRight" data-wow-duration="2s">
                          <h5>公司企业精神</h5>
                          <p>持续提供满足客户需求的优质产品和优质服务，是我们神圣的职责。</p>
                      </li>
                      <li class="col-lg-4 col-sm-6 col-xs-12 wow fadeInRight" data-wow-duration="2s">
                          <h5>公司发展模式</h5>
                          <p>覆约为先，控制风险，树立品牌，稳步开拓。</p>
                      </li>
                      <li class="col-lg-4 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="2s">
                          <h5>公司业界形象</h5>
                          <p>不做坏事，无坚不摧，能啃硬骨头的队伍。</p>
                      </li>
                      <li class="col-lg-4 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="2s">
                          <h5>公司质量理念</h5>
                          <p>质量是企业的生命线，谁无视这个道理，谁就要付出惨重的代价。</p>
                      </li>
                      <li class="col-lg-4 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="2s">
                          <h5>公司安全理念</h5>
                          <p>重视安全不仅是职业的要求，更是做人的要求。</p>
                      </li>
                  </ul>
              </div>
          </div>
      </section>

      <section class="well2_2 bg-primary">
          <div class="container">
              <div class="row">
                  <div class="col-sm-4 col-xs-12  wow fadeIn" data-wow-duration="2s">
                      <h2>《“五·一”劳动节》放假通知</h2>
                      <p>关于及时部署开展安全生产大检查暨迎接省住房城乡建设系统安全生产大检查督查的通知，关于及时部署开展安全生产大检查暨迎接省住房城乡建设系统安全生产大检查督查的通知，关于及时部署开展安全生产大检查暨迎接省住房城乡建设系统安全生产大检查督查的通知...</p>
                      <a href="#" class="btn btn-primary"><span>点击阅读</span></a>
                  </div>
                  <div class=" col-sm-4 col-xs-12 wow fadeIn" data-wow-duration="2s">
                      <h2>《六·一》国际儿童节放假通知</h2>
                      <p>关于及时部署开展安全生产大检查暨迎接省住房城乡建设系统安全生产大检查督查的通知，关于及时部署开展安全生产大检查暨迎接省住房城乡建设系统安全生产大检查督查的通知，关于及时部署开展安全生产大检查暨迎接省住房城乡建设系统安全生产大检查督查的通知...</p>
                      <a href="#" class="btn btn-primary"><span>点击阅读</span></a>
                  </div>
                  <div class=" col-sm-4 col-xs-12  wow fadeIn" data-wow-duration="2s">
                      <h2>《端午节》放假通知</h2>
                      <p>关于及时部署开展安全生产大检查暨迎接省住房城乡建设系统安全生产大检查督查的通知，关于及时部署开展安全生产大检查暨迎接省住房城乡建设系统安全生产大检查督查的通知，关于及时部署开展安全生产大检查暨迎接省住房城乡建设系统安全生产大检查督查的通知...</p>
                      <a href="#" class="btn btn-primary"><span>点击阅读</span></a>
                  </div>
              </div>
          </div>
      </section>

      <section>
        <div id="front-logos-slider">
          <div class="slide"><img src="{{ vars.image_directory }}logos/1.jpg"></div>
          <div class="slide"><img src="{{ vars.image_directory }}logos/2.jpg"></div>
          <div class="slide"><img src="{{ vars.image_directory }}logos/3.jpg"></div>
          <div class="slide"><img src="{{ vars.image_directory }}logos/4.jpg"></div>
          <div class="slide"><img src="{{ vars.image_directory }}logos/5.jpg"></div>
          <div class="slide"><img src="{{ vars.image_directory }}logos/6.jpg"></div>
          <div class="slide"><img src="{{ vars.image_directory }}logos/7.jpg"></div>
          <div class="slide"><img src="{{ vars.image_directory }}logos/8.jpg"></div>
          <div class="slide"><img src="{{ vars.image_directory }}logos/6.jpg"></div>
          <div class="slide"><img src="{{ vars.image_directory }}logos/7.jpg"></div>
          <div class="slide"><img src="{{ vars.image_directory }}logos/8.jpg"></div>
        </div>
      </section>

      <section class="well3 bg-alt">
          <div class="container">
              <div class="row">
                  <div class="col-lg-4 col-md-6  col-xs-12 v-line">
                      <h5>关于我们</h5>
                      <p>本集团始创于1953年，为原中央财委下属中央部属国有企业，名称为 “中央建筑工程部机械局工程公司”。</p>
                      <p>1979年7月根据国家建工总局（79）建工基字第122号文整建制进驻深圳，名称为“中国建筑工程公司深圳经理处”。</p>
                      <p>1993年8月在广东省及深圳市两级政府的直接领导和批准下，本集团完成国有企业重组改制，并最后更名为“深圳市中邦（集团）建设总承包有限公司”。</p>

                      <div class="g-line"></div>

                      <div class="row">
                        <div class="container">
                          <h5>工程项目</h5>
                            <div class="row">
                                <ul class="list marked-list marTop2 col-lg-2">
                                    <li><a href="#">房建工程</a></li>
                                    <li><a href="#">市政公用工程</a></li>
                                    <li><a href="#">公路桥梁</a></li>
                                    <li><a href="#">装修装饰</a></li>
                                </ul>

                                <ul class="list marked-list marTop1 col-lg-2">
                                    <li><a href="#">水利水电</a></li>
                                    <li><a href="#">土石方工程</a></li>
                                    <li><a href="#">地基基础及其他工程</a></li>
                                </ul>
                            </div>
                        </div>
                      </div>

                      <div class="g-line"></div>

                      <h5>主要业务范围</h5>
                      <p>本集团始创于1953年，为原中央财委下属中央部属国有企业，名称为 “中央建筑工程部机械局工程公司”。</p>
                      <p>1979年7月根据国家建工总局（79）建工基字第122号文整建制进驻深圳，名称为“中国建筑工程公司深圳经理处”。</p>
                      <p>1993年8月在广东省及深圳市两级政府的直接领导和批准下，本集团完成国有企业重组改制，并最后更名为“深圳市中邦（集团）建设总承包有限公司”。</p>
                  </div>

                  <div class="col-lg-4 col-md-6 col-xs-12  v-line v-line__ins">
                      <h5>新闻资讯</h5>
                      <article class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="{{ vars.image_directory }}page-1_img08.jpg" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <time datetime="2014-11-25">2014年11月15号</time>
                            <p>
                              <span>《六·一》国际儿童节放假通知</span>
                              关于及时部署开展安全生产大检查暨迎接省住房城乡建设系统安全生产大检查督查的通知...
                            </p>
                        </div>
                      </article>

                      <article class="media">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="{{ vars.image_directory }}page-1_img08.jpg" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <time datetime="2014-11-25">2014年11月15号</time>
                            <p>
                              <span>《六·一》国际儿童节放假通知</span>
                              关于及时部署开展安全生产大检查暨迎接省住房城乡建设系统安全生产大检查督查的通知...
                            </p>
                        </div>
                      </article>

                      <a href="#" class="btn btn-primary">阅读更多</a>

                      <div class="g-line"></div>

                      <h5>客户评价</h5>

                      <blockquote class="blockquote">
                          <q>关于及时部署开展安全生产大检查暨迎接省住房城乡建设系统安全生产大检查督查的通知</q>
                          <cite>- 深圳市政府</cite>
                      </blockquote>

                      <blockquote class="blockquote">
                          <q>关于及时部署开展安全生产大检查暨迎接省住房城乡建设系统安全生产大检查督查的通知</q>
                          <cite>- 深圳市政府</cite>
                      </blockquote>
                  </div>

                  <div class="col-md-12 col-lg-4 col-xs-12 v-line__ins mg-add">
                      <h5>联系我们</h5>
                      <div class="address">
                        <dl>
                          <dt><span class="fa fa-phone"></span></dt>
                          <dd>前台电话: 0755-27910828 - 人事部杨小姐 18923786420</dd>
                          <dt><span class="fa fa-home"></span>地址:</dt>
                          <dd>
                            <address>深圳市中濠建工工程有限公司 - 深圳市宝安区西乡大道228号中濠总部9楼</address>
                          </dd>
                          <dt><span class="fa fa-envelope-o"></span>邮箱：</dt>
                          <dd><a href="mailto:szzhonghao@126.com">szzhonghao@126.com</a></dd>
                        </dl>
                      </div>

                      <!--
                        <form class="mailform off2">
                          <input type="hidden">
                          <fieldset class="row">
                            <label class="col-md-12 col-sm-12 col-xs-12">
                              <input type="text" class='name' placeholder="姓名:" maxlength="250" required>
                            </label>
                            <label class="col-md-12 col-sm-12 col-xs-12">
                              <input type="text" class="phone" placeholder="电话:" maxlength="30">
                            </label>
                            <label class="col-md-12 col-sm-12 col-xs-12">
                              <input type="email" class="email" placeholder="邮箱:" maxlength="250" required>
                            </label>
                            <label class="col-md-12 col-sm-12 col-xs-12">
                              <textarea class="message" placeholder="信息:" required></textarea>
                            </label>
                            <div class="mfControls col-md-12 col-sm-12 col-xs-12">
                              <button type="submit" class="btn">发送</button>
                            </div>
                          </fieldset>
                        </form>
                      -->

                      <div class="map">
                        <div class="baidu-map map map__mod">
                            <div style="width:100%; height:200px;" id="dituContent"></div>
                        </div>

                      </div>
                  </div>
              </div>
          </div>
      </section>

</main>
