<div class="camera_container">
  <div id="camera" class="camera_wrap">
    <div data-src="{{ vars.image_directory }}slide01.jpg"></div>
    <div data-src="{{ vars.image_directory }}slide02.jpg"></div>
    <div data-src="{{ vars.image_directory }}slide03.jpg"></div>
  </div>
</div>
<main>
  <section class="well2 bg-secondary">
    <div class="container">
      <div class="row">
        <ul class="list index-list">
          <li class="col-lg-4 col-sm-6 col-xs-12 wow fadeInRight" data-wow-duration="2s">
            <h5>公司价值观</h5>
            <p>公司一直贯彻;以“专业铸就品质,品质成就未来”的经营理念。</p>
          </li>
          <li class="col-lg-4 col-sm-6 col-xs-12 wow fadeInRight" data-wow-duration="2s">
            <h5>公司企业精神</h5>
            <p>持续提供满足客户需求的优质产品和优质服务，是我们神圣的职责。</p>
          </li>
          <li class="col-lg-4 col-sm-6 col-xs-12 wow fadeInRight" data-wow-duration="2s">
            <h5>公司发展模式</h5>
            <p>覆约为先，控制风险，树立品牌，稳步开拓。</p>
          </li>
          <li class="col-lg-4 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="2s">
            <h5>公司业界形象</h5>
            <p>不做坏事，无坚不摧，能啃硬骨头的队伍。</p>
          </li>
          <li class="col-lg-4 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="2s">
            <h5>公司质量理念</h5>
            <p>质量是企业的生命线，谁无视这个道理，谁就要付出惨重的代价。</p>
          </li>
          <li class="col-lg-4 col-sm-6 col-xs-12 wow fadeInLeft" data-wow-duration="2s">
            <h5>公司安全理念</h5>
            <p>重视安全不仅是职业的要求，更是做人的要求。</p>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="well2_2 bg-primary">
    <div class="container">
      <div class="row">
        {% for article in vars.activities %}
          <div class="col-sm-4 col-xs-12 wow fadeIn" data-wow-duration="2s">
              <h2>{{ article.title }}</h2>
              <p>{{ article.summary }}</p>
              <a href="{{ article.link }}" class="btn btn-primary"><span>点击阅读</span></a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section>
    <div id="front-logos-slider">
      <div class="slide"><img src="{{ vars.image_directory }}logos/logo_1.png"></div>
      <div class="slide"><img src="{{ vars.image_directory }}logos/logo_2.png"></div>
      <div class="slide"><img src="{{ vars.image_directory }}logos/logo_3.png"></div>
      <div class="slide"><img src="{{ vars.image_directory }}logos/logo_4.png"></div>
      <div class="slide"><img src="{{ vars.image_directory }}logos/logo_1.png"></div>
      <div class="slide"><img src="{{ vars.image_directory }}logos/logo_2.png"></div>
      <div class="slide"><img src="{{ vars.image_directory }}logos/logo_3.png"></div>
      <div class="slide"><img src="{{ vars.image_directory }}logos/logo_4.png"></div>
      <div class="slide"><img src="{{ vars.image_directory }}logos/logo_1.png"></div>
      <div class="slide"><img src="{{ vars.image_directory }}logos/logo_2.png"></div>
      <div class="slide"><img src="{{ vars.image_directory }}logos/logo_3.png"></div>
      <div class="slide"><img src="{{ vars.image_directory }}logos/logo_4.png"></div>
    </div>
  </section>

  <section class="well3 bg-alt">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6  col-xs-12 v-line">
            <h5>关于我们</h5>
            <p>深圳市中濠建工集团有限公司（简称“中濠建工集团”）成立于2011年，具有国家建设部核定的建建筑工程施工总承包壹级资质，长期以来，中濠建工集团始终秉持“ 专业铸就品质,品质成就未来”的服务理念和企业精神，总部位于深圳市宝安区西乡街道西乡大道228号中濠大厦9-11楼。公司经过不断努力发展与创新，目前公司拥有员工总数近200人，各类专业技术管理人员110多人。其中高级职称人员18人，中级职称人员52人；</p>
            <p>中濠建工集团历来坚持“与领先者同行”的业务发展战略，连续多年成为万科地产的金牌战略合作伙伴，与知名上市企业地产商万科地产、龙光地产、碧桂园地产、广州时代地产等等知名房地产开发企业建立了战略合作或深度合作伙伴关系，成功案例包括但不限开盘区、会所、写字楼、别墅、销售展厅、销售样板、园林、商业及批量精装修等项目。目前公司在建项目已达  个以上，总开工面积约  万㎡。其中以广东佛山万科水晶城七期项目和福建莆田万科城项目为代表工程。</p>
            <p>立足深圳，布局全国，根据公司经营战略，中濠建工集团项目遍及广州、佛山、深圳、东莞、惠州、厦门、福州、南昌、南宁、长沙等全国二十多个主要城市。</p>
            <p>在新一轮行业格局深度调整的大背景下，中濠建工集团扎根主业、力求创新，以房屋建筑、房地产、投资、基础设施四个业务板块协同发展，通过投资建造一体化、设计施工一体化、国内国外一体化，在超高层、超大体量厂房或综合体、超大住宅或民生工程、复杂结构及特种、非常规工程建设领域具有绝对领先优势。</p>
            <p>中濠建工集团实行“专业化、职业化、国际化”的人才建设策略，致力于打造竞争、开放、科学、包容的人力资源管理平台，吸纳集聚行业英才，建立了覆盖全员的培训和职业生涯规划体系，关注员工的专业能力、职业素养、国际化视野与思维培养及企业先锋文化的传承，将公开、竞争、择优体现在招聘、培养、使用、激励等各个环节。拥有20余所国内重点高校建立良好的联系和合作关系，完善产学研战略联盟。</p>
            <p>中濠建工集团，始终打造百分百优良工程！全体中濠建工集团人将牢牢抓出行业发展的历史机遇，践行品质文化、客户文化、关怀文化和责任文化，持续为客户、员工、社会创造价值！</p>
        </div>

        <div class="col-lg-4 col-md-6 col-xs-12  v-line v-line__ins">
          <h5>新闻资讯</h5>
          {% for article in vars.news %}
            <article class="media">
              <div class="media-left">
                <a href="{{ article.link }}">
                  <img class="media-object" src="{{ article.image }}" alt="...">
                </a>
              </div>
              <div class="media-body">
                <p>
                  <span>
                    <a href="{{ article.link }}">{{ article.title }}</a>
                  </span>
                  {{ article.summary }}
                </p>
              </div>
            </article>
          {% endfor %}
          <div class="g-line"></div>

          <h5>主要业务范围</h5>
          <p>建筑工程施工总承包壹级（工业与民用建筑、构建物等）</p>
          <p>市政公用工程施工总承包贰级（道路、立交桥、隧道、广场等）</p>
          <p>机电工程施工总承包贰级</p>
          <p>电子与智能化工程专业承包贰级</p>
          <p>消防设施工程专业承包贰级</p>
          <p>防水防腐保湿工程专业承包贰级</p>
          <p>建筑装修装饰工程专业承包贰级资质</p>
          <p>幕墙工程贰级专业承包</p>
          <p>地基基础工程三级专业承包</p>
          <p>水利水电工程三级专业承包</p>
        </div>

        <div class="col-md-12 col-lg-4 col-xs-12 v-line__ins mg-add">
          <h5>客户评价</h5>
          <blockquote class="blockquote">
            <q>荣获2011年度《深圳万科最佳交付质量》。荣获万科集团评估优质工程奖励。</q>
            <cite>- 万科地产</cite>
          </blockquote>
          <blockquote class="blockquote">
            <q>荣获2013年度《优秀合作伙伴》</q>
            <cite>- 龙光地产</cite>
          </blockquote>
          <div class="g-line"></div>

          <h5>联系我们</h5>
          <div class="address">
            <dl>
              <dt><span class="fa fa-phone"></span></dt>
              <dd>前台电话: 0755-27910828 - 人事部杨小姐 18923786420</dd>
              <dt><span class="fa fa-home"></span>地址:</dt>
              <dd>
                <address>深圳市中濠建工工程有限公司 - 深圳市宝安区西乡大道228号中濠总部9楼</address>
              </dd>
              <dt><span class="fa fa-envelope-o"></span>邮箱：</dt>
              <dd><a href="mailto:szzhonghao@126.com">szzhonghao@126.com</a></dd>
            </dl>
          </div>

            <!--
              <form class="mailform off2">
                <input type="hidden">
                <fieldset class="row">
                  <label class="col-md-12 col-sm-12 col-xs-12">
                    <input type="text" class='name' placeholder="姓名:" maxlength="250" required>
                  </label>
                  <label class="col-md-12 col-sm-12 col-xs-12">
                    <input type="text" class="phone" placeholder="电话:" maxlength="30">
                  </label>
                  <label class="col-md-12 col-sm-12 col-xs-12">
                    <input type="email" class="email" placeholder="邮箱:" maxlength="250" required>
                  </label>
                  <label class="col-md-12 col-sm-12 col-xs-12">
                    <textarea class="message" placeholder="信息:" required></textarea>
                  </label>
                  <div class="mfControls col-md-12 col-sm-12 col-xs-12">
                    <button type="submit" class="btn">发送</button>
                  </div>
                </fieldset>
              </form>
            -->

          <div class="map">
            <div class="baidu-map map map__mod">
              <div style="width:100%; height:200px;" id="dituContent"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>
