<main>
  <section class="well2_2 bg-primary">
    <div class="container">
      <h2>加入我们</h2>
      {% for job in vars.jobs %}
        <div class="row offset3 marTop3">
          <div class="term-list col-sm-12 marTop6">
            <dl>
              <dt>{{ job.title }}</dt>
              <dd>
                <p><strong>招聘人数：</strong> {{ job.number }}</p>
                <p><strong>工作地点：</strong> {{ job.work_place }}</p>
                <p><strong>工资待遇：</strong> {{ job.salary }}</p>
                <p><strong>招聘要求：</strong> </p>
                {% autoescape false %}
                  {{ job.description }}
                {% endautoescape %}
              </dd>
            </dl>
          </div>
        </div>
        <div class="g-line"></div>
      {% endfor %}
    </div>
  </section>
</main>
